.application {
  padding: 0 35px 156px 35px;
}

.application__content {
  display: flex;
  justify-content: space-between;
}

.application__title {
  color: var(--bw-black, #212529);
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  margin-bottom: 50px;
}

.application__avatar img {
  max-width: 200px;
  max-height: 200px;
  border-radius: 200px;
  margin-bottom: 32px;
}

.application__text {
  font-family: Inter;
  font-style: normal;
  margin-bottom: 72px;
}

.application__text-1 {
  color: var(--bw-black, #212529);
  font-size: 24px;
  font-weight: 600;
  line-height: 130%;
}

.application__text-2 {
  color: var(--bw-black-3, #343a40);
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
}

.application__title--link {
  color: var(--bw-black, #212529);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: -0.72px;
  margin-bottom: 17px;
}

.application__link {
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--primary-primary, #d22020);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.application__link img {
  width: 16px;
  height: 16px;
}

.application__item {
  max-width: 562px;
  max-height: 79px;
}

.application__item label {
  color: var(--bw-gray-3, #adb5bd);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.application__item input {
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  border-bottom: 1px solid #ced4da;
  width: 100%;
  margin-bottom: 48px;
}

.application__item--textarea label {
  color: var(--bw-gray-1, #acb5bd);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.application__item--textarea textarea {
  border-bottom: 1px solid #ced4da;
  width: 100%;
  height: 108px;
  color: #000;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 32px;
}

.application__button {
  display: inline-flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background: var(--accent, #d22020);
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

.application__button:hover {
  cursor: pointer;
  box-shadow: 0 0 4px #d22020;
}
