/* Обнуление */
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
/* --------------------------- */

.container {
  width: 100%;
}

.content-houm {
  height: 100vh;
  background: url('https://s3-alpha-sig.figma.com/img/d411/9802/38287428eb05daebc5d3ba448c306764?Expires=1693180800&Signature=E7tsm0eIRC0mk1PnxZB4AM6aZerHS2YHI-wM0Pt6u6SMBew92-~rA-KIJe13h1XEyh0sW9eju8PBmQpQ5DCGpolEJjSgVaLmrxc9B6X8w-23VbQ5ObXG-CeX9CsDjlXabI7jIR4CxEfIbkyV7Ky9iv4uRxk7vAzo-7eJPHPY6llkPLpzUeix-VSPL9Rn0cGMMFbF~q4Kveg6k23zKjuSVtJfn9gAdvctULGnqG3YhZTqijdXBq65Fl~YRJ6gQ~01OqT5jDMbOUMLekwST217Ox8JQqiuiG4-jndwUkWwOfVKhnGyUvs5hq9QTjnXNa~vzTsq-v8tphfS3XeU0oES6Q__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4')
    center center;
  position: relative;
}

.navigation {
  display: inline-flex;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  padding: 24px 32px;
}

.navigation__items {
  display: flex;
}

.navigation__items--link {
  display: flex;
}

.navigation__images img {
  width: 99.706px;
  height: 45px;
}

.navigation__button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 16px;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.navigation__button:hover {
  cursor: pointer;
  text-shadow: 0 0 4px #d22020;
}

.navigation__button--application {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.navigation__button--application button {
  border-radius: 50px;
  padding: 10px 20px;
  background: var(--accent, #d22020);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

.content-houm__button {
  display: inline-flex;
  padding: 13.5px;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  border-radius: 48px;
}

.content-houm__button img {
  width: 21px;
  height: 21px;
}

.social__button--whatsapp {
  display: inline-flex;
  align-items: center;
  position: absolute;
  bottom: 32px;
  right: 195px;
}

.social__button--telegram {
  display: inline-flex;
  align-items: center;
  position: absolute;
  bottom: 32px;
  right: 32px;
}

.social__button--whatsapp img,
.social__button--telegram img {
  width: 24px;
  height: 24px;
}

.social__button--whatsapp p,
.social__button--telegram p {
  margin-left: 8px;
  color: var(--bw-black-3, #343a40);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.36px;
}

.about {
  margin: 34px;
}

.about__title {
  color: var(--bw-black, #212529);
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  margin-bottom: 58px;
}

.about__points {
  width: 1198px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 58px;
}

.about__paragraph {
  color: var(--bw-black, #212529);
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

#about__color {
  color: var(--primary-primary, #d22020);
}

.about__paragraph:hover {
  cursor: pointer;
  text-shadow: 0 0 4px #d22020;
}

.about__container {
  display: flex;
  justify-content: space-between;
}

.about__text {
  width: 676px;
  color: var(--bw-black-2, #495057);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 64px;
}

.about__images img {
  width: 676px;
  height: 513px;
  border-radius: 8px;
  margin-bottom: 8px;
}

.about__images p {
  color: var(--bw-gray-2, #8d959d);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-align: center;
}

.about__statistics {
  width: 473px;
  height: 141px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 37px;
}

.about__statistics--itme {
  color: var(--bw-black-2, #495057);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

#color__item {
  color: var(--primary-primary, #d22020);
  font-weight: 600;
}

.about__button {
  display: flex;
  width: 248px;
  height: 72px;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  border-radius: 56px;
  border: 1px solid #d22020;
  color: #d22020;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-transform: uppercase;
  cursor: pointer;
}

.about__button:hover {
  cursor: pointer;
  text-shadow: 0 0 4px #d22020;
}
