/* Обнуление */
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
/* --------------------------- */

.container {
  width: 100%;
  height: 100vh;
}

.content-houm {
  height: 100vh;
  background: url('https://s3-alpha-sig.figma.com/img/d411/9802/38287428eb05daebc5d3ba448c306764?Expires=1694995200&Signature=cdQJbNUPwCyIbIReioCqA5yf20ON-eVfMz21J2VDbu81GGC6XxRQTveUGGWktOxFsyAQgzSQ-oU8pMdZjnn7MjzjmhOU9vmRbnQGkqRUyqawtfdC3606JFYUIWPBsEUZM3MrgfAzK5LOjiGPqzbJORuPSCfbiG6k8AP4xEj8hU3DGJmS5bDJafOPCylZA6g4JxTqr4nX40Fj1qTMaLyZlOEEEbNj90yFewx86Z61qcUfswyy1oDHdx8EHIsbY-ikTMtWcy-NEC3JCatPqrCZ9sktijU3f66uYUXHznhY8EivcXiYSb87cG3sKR2MkX2dJF-IlKMh3wlpVSKCXQxWpA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4')
    center center;
  position: relative;
}

.navigation {
  display: inline-flex;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  padding: 24px 32px;
}

.navigation__items {
  display: flex;
}

.navigation__items--link {
  display: flex;
}

.navigation__images img {
  width: 99.706px;
  height: 45px;
}

.navigation__button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 16px;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.navigation__button:hover {
  cursor: pointer;
  text-shadow: 0 0 4px #d22020;
}

.navigation__button--application {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.navigation__button--application button {
  border-radius: 50px;
  padding: 10px 20px;
  background: var(--accent, #d22020);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

.content-houm__button {
  display: inline-flex;
  padding: 13.5px;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  border-radius: 48px;
}

.content-houm__button img {
  width: 21px;
  height: 21px;
}

.social__button--whatsapp {
  display: inline-flex;
  align-items: center;
  position: absolute;
  bottom: 32px;
  right: 195px;
}

.social__button--telegram {
  display: inline-flex;
  align-items: center;
  position: absolute;
  bottom: 32px;
  right: 32px;
}

.social__button--whatsapp img,
.social__button--telegram img {
  width: 24px;
  height: 24px;
}

.social__button--whatsapp p,
.social__button--telegram p {
  margin-left: 8px;
  color: var(--bw-black-3, #343a40);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.36px;
}

.social__button--whatsapp:hover,
.social__button--telegram:hover {
  cursor: pointer;
  text-shadow: 0 0 4px #d22020;
}
